# Binaries for programs and modules
*.exe
*.exe;
*.dll
*.so
*.dylib
bin/
dist/

# Test binary built by `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment variables & Local configuration
.env
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo
